head
  link(rel="stylesheet" href="/styles.css")
body
  div.heading
    h1 Request Heading Parser Microservice
    h4 by Dylan Cutler
  div.container
    | Example Usage:
    br
    br
    div.code GET https://dcthetall-req-heading-parser.herokuapp.com/whoami
    br
    | Example Response:
    br
    br
    div.code {"ipaddress":"72.225.197.202", "language":"en-US", "software":"Macintosh; Intel Mac OS X 10_12_3"}
